*{
    
    box-sizing: border-box;
}

a {
   
    text-decoration: none;
}


body {
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
   
}


.container{
    max-width: 650px;
    max-height: 650px;
    border-radius: 0.25em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px 20px;
    
}