*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    background: silver;
}

form {
    max-width: 450px;
    margin: 30px auto;
    background: #FFF;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
fieldset.column{
    flex-direction: column;

}

form fieldset {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;

}

/* form fieldset p {
    flex: 0 0 100%;
    margin-top: 10px;
    gap: 10px;
} */

form fieldset>div p{
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 300;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email],  
input[type=number] ,
input[type=date] {
    padding: 5px;

}

input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

input:required:invalid{
    border: 2px solid red;
}
input:required:valid{
    border: 2px solid green;
}

.required:after{
    content: '*';
    color: rgb(220, 20, 20);
}

input[type=submit]{
    background: red;
    border: 0;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

input[type=submit]:hover{
    background: green;
  
}